<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Interno</title>
  <link href="/grupo15-web/css/styles.css" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="#">
  
</head>

<body style="overflow: hidden;">
<div id="int">

 

    <div class="body5"></div>
		<div class="grad5"></div>
		<div class="header5">
			<div>Vacunas<span>UY</span></div>
		</div>
		<br>
        
		<div class="login5">
				<input type="text" placeholder="username" v-model=user id="user"><br>
				<input type="password" placeholder="password" v-model=pass id="pass"><br>
				<input type="button" @click="setDatos" value="Login">
        <br>
        <br>
        <a>{{error401}}</a>
		</div>
   
    </div>

  
   
  </div>
 <!-- development version, includes helpful console warnings -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script src="/grupo15-web/js/loginInterno.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>

</body>

</html>