<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modificar Ciudadano</title>
  <link href="/grupo15-web/css/styles.css" rel="stylesheet" type="text/css" media="all">
  <link rel="shortcut icon" href="#">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/grupo15-web/html/MenuCiudadano.html">Menú Ciudadano</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/registroCiudadano.html">Registrar ciudadano</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/Reserva.html">Realizar una reserva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/consultarReserva.html">Consultar Reserva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/eliminarReserva.html">Cancelar Reserva</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/certificadoVacunacion.html">Obtener Certificado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grupo15-web/html/modificarCiudadano.html">Modificar Datos</a>
          </li>
      </div>
      <div class="collapse navbar-collapse justify-content-between"></div>
      <ul class="navbar-nav">
        <li class="nav-right">
          <a class="nav-link" href="">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="mod">
    <div class="formulario">

      <form>


        <div>
          <label for="modificar" style="font-size: medium; text-align: center;">Escriba el dato que desee actualizar en
            el campo correspondiente:</label>

        </div>
        <div>
          <label for="iniDireccion" style="font-size: medium">Dirección : </label>
          <label for="iniDireccion" v-model=iniDireccion style="font-size: medium"> {{iniDireccion}}</label>
          <input type="text" v-model=direccion class="form-control" id="direccion" placeholder="Direccion">
        </div>
        <div>
          <label for="iniBarrio" style="font-size: medium">Barrio : </label>
          <label for="iniBarrio" v-model=iniBarrio style="font-size: medium"> {{iniBarrio}}</label>
          <input type="text" v-model=barrio class="form-control" id="barrio" placeholder="Barrio">
        </div>

        <div>
          <label for="iniDepartamento" style="font-size: medium">Departamento : </label>
          <label for="iniDepartamento" v-model=iniDepartamento style="font-size: medium"> {{iniDepartamento}}</label>
          <input type="text" v-model=departamento class="form-control" id="departamento" placeholder="Departamento">
        </div>

        <div>
          <label for="iniEmail" style="font-size: medium">E-Mail : </label>
          <label for="iniEmail" v-model=iniEmail style="font-size: medium"> {{iniEmail}}</label>
          <input type="text" v-model=email class="form-control" id="email" placeholder="E-mail">
        </div>



      </form>
      <button class="btn btn-primary" type="submit" @click="SetDatos" style="width:33,33%">Modificar</button>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
  <script src="/grupo15-web/js/modificarCiudadano.js"></script>

</body>

</html>